@model DevFolio.Models.TblService
@{
    ViewBag.Title = "CreateService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Hizmet Oluşturma Sayfası</h2>

<form method="post">
	<label>Hizmet Adı</label>
	@Html.TextBoxFor(x => x.ServiceTitle, new { @class = "form-control" })
	<br />
	<label>Resim</label>
	@Html.TextBoxFor(x => x.ServiceImageUrl, new { @class = "form-control" })
	<br />
	<label>Açıklama</label>
	@Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
	<br />
	<button class="btn btn-primary">Hizmet Kaydet</button>
</form>