<div class="section-counter paralax-mf bg-image" style="background-image: url(/Templates/devfolio-master/img/counters-bg.jpg)">
	<div class="overlay-mf"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-lg-3">
				<div class="counter-box">
					<div class="counter-ico">
						<span class="ico-circle"><i class="ion-grid"></i></span>
					</div>
					<div class="counter-num">
						<p class="counter">@ViewBag.categoryCount</p>
						<span class="counter-text">TOPLAM KATEGORİ SAYISI</span>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-lg-3">
				<div class="counter-box pt-4 pt-md-0">
					<div class="counter-ico">
						<span class="ico-circle"><i class="ion-compose"></i></span>
					</div>
					<div class="counter-num">
						<p class="counter">@ViewBag.projeCount</p>
						<span class="counter-text">TOPLAM PROJE SAYISI</span>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-lg-3">
				<div class="counter-box pt-4 pt-md-0">
					<div class="counter-ico">
						<span class="ico-circle"><i class="ion-aperture"></i></span>
					</div>
					<div class="counter-num">
						<p class="counter">@ViewBag.skillCount</p>
						<span class="counter-text">TOPLAM YETENEK SAYISI</span>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-lg-3">
				<div class="counter-box pt-4 pt-md-0">
					<div class="counter-ico">
						<span class="ico-circle"><i class="ion-ios-cog-outline"></i></span>
					</div>
					<div class="counter-num">
						<p class="counter">@ViewBag.servicesCount</p>
						<span class="counter-text">TOPLAM HİZMET SAYISI</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
